/*
--- 01 TYPOGRAPHY SYSTEM

- Font sizes (px)
10 / 12 / 14 / 16 / 18 / 20 / 24 / 30 / 36 / 44 / 52 / 62 / 74 / 86 / 98

- Font weights:
Default: 400
Medium: 500
Semi-bold: 500
Bold: 700

letter-spacing:
-0.5px
0.75px

- Line heights
Default: 1
Small: 1.05
Paragraph default: 1.6

--- 05 SHADOWS

--- 06 BORDER-RADIUS
Default: 9px
11px

--- 07 WHITESPACE

SPACING SYSTEM (px)
2 / 4 / 8 / 12 / 16 / 24 / 32 / 48 / 64 / 80 / 96 / 128
*/


/***********/
/* DEFAULT */
/***********/

*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
    --bg-color: #F8EDE3;
    --tint-bg-color: #c6beb6;
    --tint-color: #cde8d9;
    --primary-color: #82C59F;
    --shade-color: #1a2720;

}

html {
    /*1 rem = 10px*/
    font-size: 62.5%;
    scroll-behavior: smooth;
}

body {
    position: relative;
    font-family: Rosarivo, serif;
    font-size: 1.6rem;
    line-height: 1;
    font-weight: 400;
    color: var(--shade-color);
    background-color: var(--bg-color);
}

/***************************/
/* HELPER/SETTINGS CLASSES */
/***************************/
.container {
    max-width: 120rem;
    margin: 0 auto;
    padding: 3.2rem;
}

.flex {
    display: flex;
    flex-wrap: wrap;
}

.flex__column {
    flex-direction: column;
}

.flex__center {
    align-items: center;
    justify-content: center;
}

.flex__gap-sm {
    gap: 1.2rem;
}

.flex__gap-md {
    gap: 2.4rem;
}

.flex__gap-bg {
    gap: 6.4rem;
}

.flex__gap-lg {
    gap: 9.6rem;
}


.list__none {
    list-style: none;
}
/**********************/
/* GENERAL COMPONENTS */
/**********************/
.heading-primary,
.heading-secondary {
    font-family: 'Bona Nova SC', serif;

}

.heading-primary {
    font-size: 6.2rem;
    letter-spacing: 3px;
    font-weight: 700;
}

.heading-secondary {
    font-size: 3.6rem;
    letter-spacing: 2px;
    font-weight: 400;
    text-align: center;

}


/******************/
/* HEADER SECTION */
/******************/
.header-section {
    height: 8rem;
    width: 100vw;
    background-color: var(--shade-color);
    color: var(--bg-color);
    position: fixed;
    right: 0;
    top: 0;
    z-index: 999;
}

.navigation {
    width: 80%;
    max-width: 120rem;
    margin: 0 auto;
}

.nav-list {
    align-items: center;
    justify-content: space-around;
    font-size: 2.4rem;

}

.nav-link:link,
.nav-link:visited {
    display: inline-block;
    text-decoration: none;
    padding: 1rem;
    color: inherit;
    transition: all 0.2s;
}

.nav-link:hover {
    color: var(--tint-bg-color);
    transform: scale(1.1);
}

.nav-link:active {
    transform: scale(1.05);
}

/****************/
/* HERO SECTION */
/****************/
.hero-section {
    margin: 12.8rem 0 4.8rem 0;
    height: 50rem;
}

.img-box {
    height: 25rem;
    border-radius: 25px;
    border: 3px solid var(--shade-color);
    box-shadow: 0 1.5rem 3rem 0 rgba(0, 0, 0, 0.2);
    overflow: hidden;
}

.cv-photo {
    height: 100%;
    width: auto;
    transition: transform .2s;
}

.cv-photo:hover {
    transform: scale(1.15);
}

.text-box {
    font-size: 3.0rem;
    transform: translateY(-30%);
    letter-spacing: 1.5px;
}

/*****************/
/* ABOUT SECTION */
/*****************/
.about-section {
    background-image: linear-gradient(rgba(0, 0, 0, 0.35),
    rgba(0, 0, 0, 0.35)), url("assets/img/bg-about.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    padding: 4.8rem 0;
    font-size: 1.8rem;
    letter-spacing: .5px;
}

.about {
    justify-content: space-between;
}

.about-card {
    width: 47%;
    padding: 4.8rem;
    background-color: rgba(248, 237, 227, 0.75);
    color: var(--shade-color);
    line-height: 2;
    border-radius: 9px;
}

.contacts-item {
    align-items: center;
}

.contacts-link:link,
.contacts-link:visited {
    width: 8rem;
    text-decoration: none;
    color: inherit;
    display: inline-block;

}

.contacts-link:link,
.contacts-link:visited,
.icon-link:link,
.icon-link:visited,
.contacts-item p {
    line-height: 1;
    transition: all 0.2s;
}

.icon-link:link,
.icon-link:visited {
    display: flex;
    align-items: center;
    padding: 3px;
    border-radius: 50%;
    border: transparent solid 5px;
}

.contacts-item p {
    margin-left: 1.6rem;
}

.contacts-link:hover,
.icon-link:hover {
    color: #0d1410;
    text-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
    transform: scale(1.1);
}

.icon-link:hover {
    border: #4e765f solid 5px;
}

.contacts-link:active,
.icon-link:active {
    transform: scale(1.05);
}




.icon {
    display: inline-block;
    width: 3.2rem;
    height: 3.2rem;

    fill: var(--shade-color);
}